build
.gradle
.vscode
.idea

*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# go
vendor
echo
main

# MAC
.DS_Store

# internal
*internal*

# k8s template output
go-echo-api.yaml

# test
2023*

# GCP
## .sa .readonly-sa
.*sa
## google-github-actions/auth@v1
gha-creds-*.json

# terraform
.terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.hcl